<!DOCTYPE html>
<html>
  <head>
    <title>radial snake</title>

    <!-- Libs -->
    <script type="text/javascript" src="/libs/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/libs/underscore.js"></script>

    <!-- Scripts -->
    <script type="text/javascript" src="/scripts/namespaces.js"></script>
    <script type="text/javascript" src="/scripts/engine/key_states.js"></script>
    <script type="text/javascript" src="/scripts/engine/layer.js"></script>
    <script type="text/javascript" src="/scripts/engine/screen.js"></script>
    <script type="text/javascript" src="/scripts/engine/assets_loader.js"></script>
    <script type="text/javascript" src="/scripts/engine/game.js"></script>
    <script type="text/javascript" src="/scripts/test_screen.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/styles/game.css">
  </head>

  <body>
    <canvas id="gameCanvas" tabindex="0"></canvas>
  </body>
</html>